html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x:hidden;
	-webkit-overflow-scrolling: touch;
	font-family: 'Work Sans';
}

/*body {
	background: url("./imgs/city.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}*/

#opener { background: url("./imgs/opener-background.jpeg"); font-family: 'Work Sans'; }
#skills { background: url("./imgs/skills-background.jpeg"); }
#experience { background: url("./imgs/experience-background.jpeg"); }

.break-screen {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: calc(75vh);
	width: 100%;
	display: table;
	box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.9);
}

.break-screen-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.header { font-size: 3em; }

/* Nav */

#nav-container {
	position: fixed;
	width: auto;
	height: 100%;
	left: 0;
	top: 0;
}
#nav-main {
	width: calc(100%-4vw);
	height: 100%;
	position: relative;
	left:-100%;
	white-space: nowrap;
	background-color: #80CBC4;
	/* https://matthewlein.com/ceaser/ */
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	-moz-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	-o-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
	padding: calc(2vw);
}
#nav-main.shown {
	left:0;
	z-index: 1000;
}
#nav-main span {
	font-size: 1.5em;
	line-height: 1.5em;
}
#nav-main span a {
	text-decoration: none;
	color: #FFFFFF;
}
#nav-menu {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	cursor: pointer;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
	margin: 1em;
	padding: 0.3em;
	border-radius: 0.4em 0.4em 0.4em 0.4em;
	border: 0.4em solid #212121;
	background-color: #FFFFFF;
}

/* Colors from http://clrs.cc/ */
.navy { color: #001f3f; }
.blue { color: #0074D9; }
.aqua { color: #7FDBFF; }
.teal { color: #39CCCC; }
.olive { color: #3D9970; }
.green { color: #2ECC40; }
.lime { color: #01FF70; }
.yellow { color: #FFDC00; }
.orange { color: #FF851B; }
.red { color: #FF4136; }
.maroon { color: #85144b; }
.fuchsia { color: #F012BE; }
.purple { color: #B10DC9; }
.black { color: #111111; }
.gray { color: #AAAAAA; }
.silver { color: #DDDDDD; }
.white { color: #FFFFFF; }

/* General Styles */

.content {
	width: 90%;
	height: auto;
	padding: calc(5vw);
}

img {
	width: 100%;
	height: auto;
}
.img-margin {
	padding: calc(1vh);
}
.text-margin {
	padding: calc(1vh);	
}
.text-center {
	text-align: center;
}

.font-lato { 
	font-family:'Lato'; 
	line-height: 1.5em;
}
.font-lg { font-size: 1.5em; }
.font-md { font-size: 1.2em; }

#footer { background-color: #282828; }

blockquote {
	border-left: 4px solid #ccc;
	padding-left: 10px;
	font-family:'Lato';
}
blockquote .author {
	color: #a5a4a4;
	font-style: italic;
	font-size: 0.8em;
}

/* Code Box */

.codebox {
	background-color:#282828;
	font-family: Consolas, monaco, monospace;
	border-radius: 10px;
	padding: 4%;
	margin: 2%;
	width: 88%;
	height: auto;
}
.codebox .code-header {
	color: #01FF70;
	background: url("./imgs/tab.png") no-repeat;
	background-position: left bottom;
	background-size: cover;
	line-height: 3em;
}
.codebox .code-text {
	color: #FFFFFF;
}
.codebox .code-line {
	color: #7FDBFF;
}
